tr.unread td.subject:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #B2CB6C;
	border-radius: 50%;
	margin-right: 4px;
	margin-bottom: -1px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

tr.updated td.subject:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #5390CA;
	border-radius: 50%;
	margin-right: 4px;
	margin-bottom: -1px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#top-menu a span.count, span.count {
	background-color: #077C10;
	padding: 0px 4px 0px 4px;
	position: relative;
	top: -2px;
	border-radius: 8px 8px;
	left: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 7.5pt;
	font-weight: bold;
	margin-right: 5px;
	color: #FFF;
}

a span.count.unread {
  background-color: #c3e26b;
}

a span.count.updated {
  background-color: #76a8d7;
}